<!--
Aaron Robert Wilson
October 14, 2015 - Week 3
FWF Course | 201510-01
Student ID: 0004619821
Professor: Sean Bernath
Full Sail University

Assignment - C.R.U.D. Application - directory.html
-->

<section class="animal_page">
  <div class="search">
    <h1>Junglebook Animal Finder</h1>
    <label>search: </label>
    <input ng-model="query" placeholder="Search for animals" autofocus>

    <label class="formgroup">by:
      <select ng-model="animal_order">
        <option value="animal_name">Name</option>
        <option value="animal_location">Species</option>
      </select>
    </label>

    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" checked>
      ascending
     </label>
    <label class="formgroup">
      <input type="radio" ng-model="direction" name="direction" value="reverse">
      descending
    </label>
  </div>

  <ul class="animal_dir" ng-show="query">
    <li ng-animate="'animate'" class="animal cf" ng-repeat="item in animals | filter: query | orderBy: animal_order:direction">
      <a href="#/desc/{{animals.indexOf(item)}}">
        <img ng-src="images/{{item.animal_common}}_jb.png" alt="Photo of {{item.animal_name}}">
        <div class="info">
          <h2>{{item.animal_name}}</h2>
          <h3>{{item.animal_location}}</h3>
        </div>
      </a>
    </li>
  </ul>  
</section>